.central-container{
    display: flex;
    flex-direction: column;
    width: 60vh;
    background-color: blanchedalmond;
    margin: auto;
    padding: 1rem;
    word-wrap:break-word;
    color: black;
}
.default-button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0rem;
}

.bill-amount{
    word-wrap: break-word;
}
.next{
    align-self: center;
}
.check{
    align-self: center;
}
table, th , td {
    border: 1px solid black;
}